In [1]:
import pandas as pd
#import scrapy
import requests
from bs4 import BeautifulSoup
import html5lib


#pd.set_option('display.expand_frame_repr', False)


#cant pull data from https://www.businessofapps.com
#cant pull data from https://www.investing.com
#able to pull from https://mobilemarketingreads.com
# can try https://datareportal.com

## Twitter Data

Miscellaneous Information:
Launch Date March 21, 2006

In [2]:
# get the response in the form of html
twitterurl1="https://en.wikipedia.org/wiki/Twitter,_Inc."
response=requests.get(twitterurl1)
print(response.status_code)

200

In [3]:
twittersoup1 = BeautifulSoup(response.text, 'html.parser')
twitterfinances=twittersoup1.find('table',{'class':"wikitable"})

In [4]:
twitterdf1=pd.read_html(str(twitterfinances))
# convert list to dataframe
twitterdf1=pd.DataFrame(twitterdf1[0])
print(twitterdf1)

         Year  Revenuein mil. US$ Net incomein mil. US$  \
0   2010[154]                  28                   −67
1   2011[154]                 106                  −164
2   2012[154]                 317                   −79
3   2013[154]                 665                  −645
4   2014[155]                1403                  −578
5   2015[156]                2218                  −521
6   2016[157]                2530                  −457
7   2017[158]                2443                  −108
8   2018[159]                3042                  1206
9   2019[160]                3459                  1466
10  2020[161]                3716                −1,136
11  2021[162]                5077                  −221

    Total assetsin mil. US$ Employees
0                         0         —
1                       721         —
2                       832      2000
3                      3366      2712
4                      5583      3638
5                      6442      3898
6                      6870      3583
7                      7412      3372
8                     10163      3900
9                     12703      4900
10                    13379    5,500+
11                    14060    7,500+

https://financesonline.com/number-of-twitter-users/

## Instagram Data

Miscellaneous Information:
Launch Date October 6, 2010

In [5]:
instagramurl1 = 'https://mobilemarketingreads.com/instagram-revenue-and-usage-statistics-2020/'
response=requests.get(instagramurl1)
print(response.status_code)

200

In [6]:
instasoup1 = BeautifulSoup(response.text, 'html.parser')
insta1 = instasoup1.find('figure', {'class':"wp-block-table"})

In [7]:
instadf1=pd.read_html(str(insta1))
#number of active users
instadf1=pd.DataFrame(instadf1[0])
print(instadf1)

          0                       1
0      Year  Instagram Active Users
1   Q1 2022            1.96 billion
2      2021            1.92 billion
3      2020            1.85 billion
4      2019            1.66 billion
5      2018            1.52 billion
6      2017             1.4 billion
7      2016            1.23 billion
8      2015               1 billion
9      2014             890 million
10     2013             757 million
11     2012             618 million
12     2011             418 million

In [8]:
insta2 = instasoup1.find_all('figure', {'class':"wp-block-table"})[-1]

In [9]:
instadf2 = pd.read_html(str(insta2))
#instagram annual revenue
instadf2 = pd.DataFrame(instadf2[0])
print(instadf2)

      0                         1
0  Year  Instagram Annual Revenue
1  2021             $47.6 billion
2  2020             $26.8 billion
3  2019             $19.4 billion
4  2018             $10.3 billion
5  2017              $4.1 billion
6  2016              $1.8 billion
7  2015              $500 million

## LinkedIn Data

Miscellaneous Information:
Launch Date May 5, 2003

In [10]:
#linkedinurl1 = 'https://mobilemarketingreads.com/linkedin-revenue-and-user-statistics/'
#response=requests.get(linkedinurl1)
#print(response.status_code)

In [11]:
#linkedsoup1 = BeautifulSoup(response.text, 'html.parser')
#linkedin = linkedsoup1.find('figure',{'class':"bChart"})

In [12]:
#linkedindf1=pd.read_html(str(linkedin))
    #number of active users
#linkedindf1 = pd.DataFrame(linkedindf1[0])
#print(linkedindf1)

^this doesnt work since we cant pull from pictures mobilemarketingreads.com

## TikTok Data

Miscellaneous Information:
Launch Date September 2016

In [13]:
tiktokurl1 = 'https://mobilemarketingreads.com/tiktok-revenue-and-usage-statistics-2020/'
response=requests.get(tiktokurl1)
print(response.status_code)

200

In [14]:
tiktoksoup1 = BeautifulSoup(response.text, 'html.parser')
tiktok=tiktoksoup1.find_all('figure',{'class':"wp-block-table"})[-1]

In [15]:
tiktokdf1=pd.read_html(str(tiktok))
#number of active users
tiktokdf1=pd.DataFrame(tiktokdf1[0])
print(tiktokdf1)

      0                            1
0  Year  TikTok Monthly Active Users
1  2021                    1 billion
2  2020                  689 million
3  2019                  508 million
4  2018                  271 million
5  2017                   55 million

## Facebook

Miscellaneous Information:
Launch Date

same as linkedin for mobilemarketingreads.com, can't pull images

https://financesonline.com/facebook-statistics/#financial

https://investor.fb.com/financials/default.aspx

In [16]:
#facebookurl1 = 'https://www.investing.com/academy/statistics/facebook-meta-facts/'
#response=requests.get(facebookurl1)
#print(response.status_code)
#facebooksoup1 = BeautifulSoup(response.text, 'html.parser')
#facebook=facebooksoup1.find('figure',{'class':"wp-block-table"})
#facebookdf1 = pd.read_html(str(facebook))
#facebookdf1 = pd.DataFrame(facebookdf1[0])
#print(facebookdf1.head())

## Twitter, TikTok, LinkedIn, Instagram Trend Data

trends.google.com


keeping facebook will push many trends to below 1, so it was decided to remove this data from the trends

trends in maryland only 2004-2020

In [17]:
suicidetrendsmd = pd.read_csv(r'C:\Users\vtole\Springboard\Springboard\Capstone-2-Springboard\multiTimelineMaryland.csv')
suicidetrendsmd = pd.DataFrame(suicidetrendsmd)
print(suicidetrendsmd.head())

                                                                    Category: All categories
Month   twitter: (Maryland) linkedin: (Maryland) tiktok: (Maryland)    instagram: (Maryland)
2004-01 1                   2                    0                                         0
2004-02 0                   0                    0                                         1
2004-03 0                   4                    0                                         0
2004-04 0                   0                    0                                         0

trends in california

In [26]:
suicidetrendsca = pd.read_csv(r'C:\Users\vtole\Springboard\Springboard\Capstone-2-Springboard\multiTimelineCalifornia.csv')
suicidetrendsca = pd.DataFrame(suicidetrendsca)
print(suicidetrendsca.head())
print(suicidetrendsca.tail())

                                                                          Category: All categories
Month   twitter: (California) linkedin: (California) tiktok: (California)  instagram: (California)
2004-01 0                     1                      0                                           0
2004-02 <1                    <1                     0                                           0
2004-03 0                     0                      1                                           1
2004-04 0                     <1                     0                                           0
                 Category: All categories
2020-08 62 18 28                       81
2020-09 59 16 27                       77
2020-10 69 13 19                       76
2020-11 89 11 18                       71
2020-12 60 11 21                       74

trends in the entire united states

In [19]:
suicidetrendsusa = pd.read_csv(r'C:\Users\vtole\Springboard\Springboard\Capstone-2-Springboard\multiTimelineUSA.csv')
suicidetrendsusa = pd.DataFrame(suicidetrendsusa)
print(suicidetrendsusa.head())

                                                                                      Category: All categories
Month   twitter: (United States) linkedin: (United States) tiktok: (United States)  instagram: (United States)
2004-01 0                        <1                        <1                                               <1
2004-02 0                        <1                        0                                                 0
2004-03 0                        <1                        0                                                <1
2004-04 0                        <1                        <1                                                0

## Suicide Data

Miscellaneous Information:
Start Date of Data

In [20]:
#table ripped from https://save.org/wp-content/uploads/2022/01/StateNumberOfSui1990to2020TABLE.pdf
#copied, pasted onto GoogleSheets
#used " =SPLIT(A1, " ") " to split the data
#cleaned specific rows where columns did not match up
#exported GoogleSheet into .csv, saved into Capstone 2 
suicidebyyearstate = pd.read_csv(r'C:\Users\vtole\Springboard\Springboard\Capstone-2-Springboard\Number of Suicides Per Year Per State.csv')
suicidebyyearstate = pd.DataFrame(suicidebyyearstate)
print(suicidebyyearstate.head())

  State / Region  1990  1991  1992  1993  1994  1995  1996  1997  1998  ...  \
0        Alabama   514   539   523   551   532   563   513   512   569  ...
1         Alaska    70    73    90    97   121   103   120   128   129  ...
2        Arizona   686   662   653   727   767   805   726   757   804  ...
3       Arkansas   293   283   293   317   364   360   323   356   344  ...
4     California  3708  3716  3723  3875  3712  3694  3408  3430  3415  ...

   2011  2012  2013  2014  2015  2016  2017  2018    2019  2020
0   654   724   721   715   750   788   836   823   804.0   793
1   143   168   171   167   201   193   200   184   210.0   204
2  1160  1156  1163  1244  1276  1271  1327  1438  1419.0  1363
3   462   485   516   515   577   555   631   554   548.0   583
4  3996  3893  4025  4214  4167  4294  4312  4491  4436.0  4144

[5 rows x 32 columns]

https://save.org/about-suicide/suicide-statistics/

https://wisqars.cdc.gov/data/explore-data/explore/selected-years?ex=eyJ0YmkiOlsiMCJdLCJpbnRlbnRzIjpbIjIiXSwibWVjaHMiOlsiMjA4MTAiXSwic3RhdGUiOlsiMDEiLCIwMiIsIjA0IiwiMDUiLCIwNiIsIjA4IiwiMDkiLCIxMCIsIjExIiwiMTIiLCIxMyIsIjE1IiwiMTYiLCIxNyIsIjE4IiwiMTkiLCIyMCIsIjIxIiwiMjIiLCIyMyIsIjI0IiwiMjUiLCIyNiIsIjI3IiwiMjgiLCIyOSIsIjMwIiwiMzEiLCIzMiIsIjMzIiwiMzQiLCIzNSIsIjM2IiwiMzciLCIzOCIsIjM5IiwiNDAiLCI0MSIsIjQyIiwiNDQiLCI0NSIsIjQ2IiwiNDciLCI0OCIsIjQ5IiwiNTAiLCI1MSIsIjUzIiwiNTQiLCI1NSIsIjU2Il0sInJhY2UiOlsiMSIsIjIiLCIzIiwiNCJdLCJldGhuaWN0eSI6WyIxIiwiMiIsIjMiXSwibWV0cm8iOlsiMSIsIjIiXSwic2V4IjpbIjEiLCIyIl0sImFnZUdyb3Vwc01pbiI6WyIwMC0wNCJdLCJhZ2VHcm91cHNNYXgiOlsiMTk5Il0sImN1c3RvbUFnZXNNaW4iOlsiMCJdLCJjdXN0b21BZ2VzTWF4IjpbIjE5OSJdLCJmcm9tWWVhciI6WyIyMDAxIl0sInRvWWVhciI6WyIyMDIwIl0sImFnZWJ1dHRuIjoiNVlyIiwiZ3JvdXBieTEiOiJBR0VHUCIsInlwbGxBZ2VzIjpbIjY1Il19

https://catalog.data.gov/dataset/ship-suicide-rate-2009-2017
Maryland Suicide Data with race/ethnicity statistics

In [21]:
suicidemaryland = pd.read_csv(r'C:\Users\vtole\Springboard\Springboard\Capstone-2-Springboard\SHIP_Suicide_Rate_2009-2017.csv')
suicidemaryland = pd.DataFrame(suicidemaryland)
print(suicidemaryland.head())

       Jurisdiction  Value                     Race/ ethnicity       Year  \
0             State    9.3  All races/ethnicities (aggregated)  2015-2017
1          Allegany    NaN  All races/ethnicities (aggregated)  2015-2017
2      Anne Arundel   12.1  All races/ethnicities (aggregated)  2015-2017
3    Baltimore City    8.2  All races/ethnicities (aggregated)  2015-2017
4  Baltimore County    9.7  All races/ethnicities (aggregated)  2015-2017

        Measure
0  Suicide rate
1  Suicide rate
2  Suicide rate
3  Suicide rate
4  Suicide rate

https://catalog.data.gov/dataset/suicide-deaths-per-100000-population-lghc-indicator-8d7bb
Caliornia Suicide Data

In [22]:
suicidecalifornia = pd.read_csv(r'C:\Users\vtole\Springboard\Springboard\Capstone-2-Springboard\suicide-lghc-indicator-21.csv')
suicidecalifornia = pd.DataFrame(suicidecalifornia)
print(suicidecalifornia.head())

  Indicator   Geography  Year Strata Strata Name  Numerator  Denominator  \
0   Suicide  CALIFORNIA  2000    Sex      Female        682     17080000
1   Suicide  CALIFORNIA  2000    Sex        Male       2431     16920000
2   Suicide  CALIFORNIA  2000    Sex       Total       3113     34000000
3   Suicide  CALIFORNIA  2001    Sex      Female        685     17340000
4   Suicide  CALIFORNIA  2001    Sex        Male       2571     17170000

     Rate  Age Adjusted Rate
0   3.993              4.067
1  14.370             15.890
2   9.156              9.564
3   3.950              4.005
4  14.970             16.410

https://catalog.data.gov/dataset/death-rates-for-suicide-by-sex-race-hispanic-origin-and-age-united-states
United States Suicide Data

In [23]:
suicideusa = pd.read_csv(r'C:\Users\vtole\Springboard\Springboard\Capstone-2-Springboard\Death_rates_for_suicide__by_sex__race__Hispanic_origin__and_age__United_States.csv')
suicideusa = pd.DataFrame(suicideusa)
print(suicideusa.head())

                 INDICATOR                                               UNIT  \
0  Death rates for suicide  Deaths per 100,000 resident population, age-ad...
1  Death rates for suicide  Deaths per 100,000 resident population, age-ad...
2  Death rates for suicide  Deaths per 100,000 resident population, age-ad...
3  Death rates for suicide  Deaths per 100,000 resident population, age-ad...
4  Death rates for suicide  Deaths per 100,000 resident population, age-ad...

   UNIT_NUM STUB_NAME  STUB_NAME_NUM   STUB_LABEL  STUB_LABEL_NUM  YEAR  \
0         1     Total              0  All persons             0.0  1950
1         1     Total              0  All persons             0.0  1960
2         1     Total              0  All persons             0.0  1970
3         1     Total              0  All persons             0.0  1980
4         1     Total              0  All persons             0.0  1981

   YEAR_NUM       AGE  AGE_NUM  ESTIMATE FLAG
0         1  All ages      0.0      13.2  NaN
1         2  All ages      0.0      12.5  NaN
2         3  All ages      0.0      13.1  NaN
3         4  All ages      0.0      12.2  NaN
4         5  All ages      0.0      12.3  NaN