In [1]:
import pandas as pd
#import scrapy
import requests
from bs4 import BeautifulSoup
import html5lib


pd.set_option('display.expand_frame_repr', False)


#cant pull data from https://www.businessofapps.com
#cant pull data from https://www.investing.com

#able to pull from https://mobilemarketingreads.com

#try https://datareportal.com

## Twitter Data

Miscellaneous Information:
Launch Date March 21, 2006

In [2]:
# get the response in the form of html

twitterurl1="https://en.wikipedia.org/wiki/Twitter,_Inc."

response=requests.get(twitterurl1)
print(response.status_code)

200

In [3]:
twittersoup1 = BeautifulSoup(response.text, 'html.parser')
twitterfinances=twittersoup1.find('table',{'class':"wikitable"})

In [4]:
twitterdf1=pd.read_html(str(twitterfinances))

# convert list to dataframe

twitterdf1=pd.DataFrame(twitterdf1[0])
print(twitterdf1)

         Year  Revenuein mil. US$ Net incomein mil. US$  Total assetsin mil. US$ Employees
0   2010[153]                  28                   −67                        0         —
1   2011[153]                 106                  −164                      721         —
2   2012[153]                 317                   −79                      832      2000
3   2013[153]                 665                  −645                     3366      2712
4   2014[154]                1403                  −578                     5583      3638
5   2015[155]                2218                  −521                     6442      3898
6   2016[156]                2530                  −457                     6870      3583
7   2017[157]                2443                  −108                     7412      3372
8   2018[158]                3042                  1206                    10163      3900
9   2019[159]                3459                  1466                    12703      4900
10  2020[160]                3716                −1,136                    13379    5,500+
11  2021[161]                5077                  −221                    14060    7,500+

https://financesonline.com/number-of-twitter-users/

## Instagram Data

Miscellaneous Information:
Launch Date October 6, 2010

In [5]:
instagramurl1 = 'https://mobilemarketingreads.com/instagram-revenue-and-usage-statistics-2020/'

response=requests.get(instagramurl1)
print(response.status_code)

200

In [6]:
instasoup1 = BeautifulSoup(response.text, 'html.parser')
insta1 = instasoup1.find('figure', {'class':"wp-block-table"})

In [7]:
instadf1=pd.read_html(str(insta1))

#number of active users
instadf1=pd.DataFrame(instadf1[0])
print(instadf1)

          0                       1
0      Year  Instagram Active Users
1   Q1 2022            1.96 billion
2      2021            1.92 billion
3      2020            1.85 billion
4      2019            1.66 billion
5      2018            1.52 billion
6      2017             1.4 billion
7      2016            1.23 billion
8      2015               1 billion
9      2014             890 million
10     2013             757 million
11     2012             618 million
12     2011             418 million

In [8]:
insta2 = instasoup1.find_all('figure', {'class':"wp-block-table"})[-1]

In [9]:
instadf2 = pd.read_html(str(insta2))
#instagram annual revenue
instadf2 = pd.DataFrame(instadf2[0])
print(instadf2)

      0                         1
0  Year  Instagram Annual Revenue
1  2021             $47.6 billion
2  2020             $26.8 billion
3  2019             $19.4 billion
4  2018             $10.3 billion
5  2017              $4.1 billion
6  2016              $1.8 billion
7  2015              $500 million

## LinkedIn Data

Miscellaneous Information:
Launch Date May 5, 2003

In [10]:
#linkedinurl1 = 'https://mobilemarketingreads.com/linkedin-revenue-and-user-statistics/'

#response=requests.get(linkedinurl1)
#print(response.status_code)

In [11]:
#linkedsoup1 = BeautifulSoup(response.text, 'html.parser')
#linkedin = linkedsoup1.find('figure',{'class':"bChart"})

In [12]:
#linkedindf1=pd.read_html(str(linkedin))

    #number of active users

#linkedindf1 = pd.DataFrame(linkedindf1[0])
#print(linkedindf1)

^this doesnt work since we cant pull from pictures mobilemarketingreads.com

## TikTok Data

Miscellaneous Information:
Launch Date September 2016

In [13]:
tiktokurl1 = 'https://mobilemarketingreads.com/tiktok-revenue-and-usage-statistics-2020/'

response=requests.get(tiktokurl1)
print(response.status_code)

200

In [14]:
tiktoksoup1 = BeautifulSoup(response.text, 'html.parser')
tiktok=tiktoksoup1.find_all('figure',{'class':"wp-block-table"})[-1]

In [15]:
tiktokdf1=pd.read_html(str(tiktok))

#number of active users
tiktokdf1=pd.DataFrame(tiktokdf1[0])
print(tiktokdf1)

      0                            1
0  Year  TikTok Monthly Active Users
1  2021                    1 billion
2  2020                  689 million
3  2019                  508 million
4  2018                  271 million
5  2017                   55 million

## Facebook

Miscellaneous Information:
Launch Date

same as linkedin for mobilemarketingreads.com, can't pull images

https://financesonline.com/facebook-statistics/#financial

https://investor.fb.com/financials/default.aspx

In [36]:
#facebookurl1 = 'https://www.investing.com/academy/statistics/facebook-meta-facts/'
#response=requests.get(facebookurl1)
#print(response.status_code)
#facebooksoup1 = BeautifulSoup(response.text, 'html.parser')
#facebook=facebooksoup1.find('figure',{'class':"wp-block-table"})
#facebookdf1 = pd.read_html(str(facebook))
#facebookdf1 = pd.DataFrame(facebookdf1[0])
#print(facebookdf1.head())

## Suicide Data

Miscellaneous Information:
Start Date of Data

In [16]:
#table ripped from https://save.org/wp-content/uploads/2022/01/StateNumberOfSui1990to2020TABLE.pdf
#copied, pasted onto GoogleSheets
#used " =SPLIT(A1, " ") " to split the data
#cleaned specific rows where columns did not match up
#exported GoogleSheet into .csv, saved into Capstone 2 

suicidebyyearstate = pd.read_csv(r'C:\Users\vtole\Springboard\Springboard\Capstone-2-Springboard\Number of Suicides Per Year Per State.csv')
suicidebyyearstate = pd.DataFrame(suicidebyyearstate)

print(suicidebyyearstate.head())

  State / Region  1990  1991  1992  1993  1994  1995  1996  1997  1998  ...  2011  2012  2013  2014  2015  2016  2017  2018    2019  2020
0        Alabama   514   539   523   551   532   563   513   512   569  ...   654   724   721   715   750   788   836   823   804.0   793
1         Alaska    70    73    90    97   121   103   120   128   129  ...   143   168   171   167   201   193   200   184   210.0   204
2        Arizona   686   662   653   727   767   805   726   757   804  ...  1160  1156  1163  1244  1276  1271  1327  1438  1419.0  1363
3       Arkansas   293   283   293   317   364   360   323   356   344  ...   462   485   516   515   577   555   631   554   548.0   583
4     California  3708  3716  3723  3875  3712  3694  3408  3430  3415  ...  3996  3893  4025  4214  4167  4294  4312  4491  4436.0  4144

[5 rows x 32 columns]

https://save.org/about-suicide/suicide-statistics/

https://wisqars.cdc.gov/data/explore-data/explore/selected-years?ex=eyJ0YmkiOlsiMCJdLCJpbnRlbnRzIjpbIjIiXSwibWVjaHMiOlsiMjA4MTAiXSwic3RhdGUiOlsiMDEiLCIwMiIsIjA0IiwiMDUiLCIwNiIsIjA4IiwiMDkiLCIxMCIsIjExIiwiMTIiLCIxMyIsIjE1IiwiMTYiLCIxNyIsIjE4IiwiMTkiLCIyMCIsIjIxIiwiMjIiLCIyMyIsIjI0IiwiMjUiLCIyNiIsIjI3IiwiMjgiLCIyOSIsIjMwIiwiMzEiLCIzMiIsIjMzIiwiMzQiLCIzNSIsIjM2IiwiMzciLCIzOCIsIjM5IiwiNDAiLCI0MSIsIjQyIiwiNDQiLCI0NSIsIjQ2IiwiNDciLCI0OCIsIjQ5IiwiNTAiLCI1MSIsIjUzIiwiNTQiLCI1NSIsIjU2Il0sInJhY2UiOlsiMSIsIjIiLCIzIiwiNCJdLCJldGhuaWN0eSI6WyIxIiwiMiIsIjMiXSwibWV0cm8iOlsiMSIsIjIiXSwic2V4IjpbIjEiLCIyIl0sImFnZUdyb3Vwc01pbiI6WyIwMC0wNCJdLCJhZ2VHcm91cHNNYXgiOlsiMTk5Il0sImN1c3RvbUFnZXNNaW4iOlsiMCJdLCJjdXN0b21BZ2VzTWF4IjpbIjE5OSJdLCJmcm9tWWVhciI6WyIyMDAxIl0sInRvWWVhciI6WyIyMDIwIl0sImFnZWJ1dHRuIjoiNVlyIiwiZ3JvdXBieTEiOiJBR0VHUCIsInlwbGxBZ2VzIjpbIjY1Il19